<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XO Game</title>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./xo-game/style.css" />

    <!-- <script src="./xo-game/ai.js" defer></script> -->
    <script src="./xo-game/script.js" defer></script>
  </head>
  <body>
    <main>
      <h1>Tic Tac Toe</h1>
      <table class="grid" id="grid"></table>

      <div class="gameOverContainer" id="gameOverContainer">
        <h2 id="gameOverText"></h2>
        <button class="defaultButton restartButton" id="restart">
          Restart
        </button>
      </div>
    </main>
  </body>
</html>
