<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C++ Framework from Scratch</title>

    <link rel="stylesheet" href="./home/style.css" />
  </head>
  <body>
    <main class="banner">
      <h1>Web application Framework in C++</h1>
      <p>
        A Personal Project to take a deep dive in working of Networking,
        frameworks and C++!!
      </p>
      <div class="buttons">
        <button class="defaultButton" id="popUpButton">Developer</button>
        <a href="/xo-game" class="defaultButton" id="popUpButton">XO Game</a>
      </div>
    </main>

    <div class="popUp" id="popUpWindow">
      <div class="popUpContainer">
        <p class="closeButton" id="closeButton">X</p>
        <img src="./assets/suhaan.jpg" alt="Suhaan Bhandary" />
        <div>
          <h2>
            <a href="https://www.linkedin.com/in/suhaan-bhandary">
              Suhaan Bhandary
            </a>
          </h2>
          <p>
            Skilled Full Stack Developer proficient in React, Node, and Django
            with expertise in DSA problem-solving, recognized as Knight on
            Leetcode with 700+ Problems and 60+ Contests.
          </p>
          <a
            href="https://www.linkedin.com/in/suhaan-bhandary"
            class="defaultButton anchorButton"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>

    <script src="./home/script.js "></script>
  </body>
</html>
